@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --color-white: #fff;
  --color-prime: #5ad67d;
  --color-grey: #e2e2e2;
  --color-grey-dark: #a2a2a2;
  --avatar-size: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}
.sidebar-brand {
  height: 90px;
  padding-top: 1.5rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu {
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 0;
}
#nav-toggle:checked + .sidebar {
  width: 80px;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:first-child {
  padding-left: 1rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a {
  padding-left: 0px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 80px;
}
.main-content {
  transition: margin-left 300ms;
  margin-left: 300px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 80px);
  left: 80px;
  right: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 300px;
  top: 0;
  width: calc(100% - 300px);
  z-index: 100;
  overflow: hidden;
  background: #ffff;
  transition: left 300ms;
}
#nav-toggle {
  display: none;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.6rem;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
  margin-top: -10px !important;
}

main {
  margin-top: 85px;
  padding: 1rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.card-single {
  display: flex;
  justify-content: space-between;
  background: #ffff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card-single:hover {
  transform: scale(1.005);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}
.recent-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 66% auto;
  grid-gap: 1rem;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.005);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.customers .card .card-header {
  border-left: 5px solid rgb(16, 224, 16);
}
.projects .card .card-header {
  border-left: 5px solid rgb(49, 162, 238);
}

.card-header button {
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main-color);
}
.card-header button:hover {
  background-color: var(--main-color);
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem;
}
thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
td .status {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
tr td:last-child {
  display: flex;
  align-items: center;
}
.status.reviewing {
  background: yellow;
}
.status.progressing {
  background: blue;
}
.status.starting {
  background: green;
}

.table-responsive {
  width: 100%;
  overflow: auto;
}
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.customer:last-child {
  border: none;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
}

.info h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #222;
}
.info small {
  font-weight: 500;
  color: var(--text-grey);
}
.contact span {
  color: var(--main-color);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}

header h2 label span.menu-icon {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 80px;
  }
  .sidebar .sidebar-brand h2 span:first-child {
    padding-left: 1rem;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar li a {
    padding-left: 0px;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 80px;
  }
  .main-content header {
    width: calc(100% - 80px);
    left: 80px;
  }
}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid {
    grid-template-columns: 55% 45%;
  }
}
@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }

  header h2 {
    display: flex;
    font-size: 1rem;
  }
  header h2 label {
    text-align: center;
    background-color: var(--main-color);
    padding-right: 0;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  header h2 span {
    text-align: center;
    padding-right: 0;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    font-size: 1.5rem;
  }

  .main-content {
    width: 100% !important;
    margin-left: 0 !important;
  }
  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 300px;
  }

  #nav-toggle:checked + .sidebar,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }

  #nav-toggle:checked + .sidebar h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;
  }
}

@media only screen and (max-width: 560px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .user-wrapper .profile-info {
    display: none;
  }
}

/* Block card */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    /* max-width: 700px; */
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.avatars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: var(--avatar-size);
  height: var(--avatar-size);
  box-shadow: 0px 0px 0px 5px white;
}
.avatar:not(:first-child) {
  margin-left: calc(-1 * (var(--avatar-size) / 6));
}
.avatar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((var(--avatar-size) / 3));
  color: white;
  background-color: darkgray;
}
.grid--staggered {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* get minimum unit */
  grid-template-rows: 350px 100px 350px;
  grid-gap: 20px;
}
.grid--staggered__item {
  border-radius: 10px;
  overflow: hidden;
  rotate: ();
}
.grid--staggered__item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.grid--staggered__item:nth-child(2),
.grid--staggered__item:nth-child(3) {
  grid-row: 1/3;
}
.grid--staggered__item:nth-child(4),
.grid--staggered__item:nth-child(5) {
  grid-row: 2/4;
}

.grid--staggered__item:last-child {
  grid-column: 3/5;
}

.grid--staggered__item--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
